:root {
/*
    --clr-primary-200: #F3EED9;
    --clr-primary-400: #824936;
    --clr-neutral-100: #FFF;
    --clr-neutral-900: #222C2A;
    
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
    */
    
/*
    --clr-dark-grey: #2D2D2D;
    --clr-light-grey: #F2F2F2;
    --clr-med-grey: #919191;  #919191 
    --clr-med-light-grey: #dadee0;
    --clr-nav-bar-light-selection: #E8E8E8;
    --clr-orange: #FF9035;
    --clr-med-orange: #ea833d;
    --clr-dark-blue: #001a26;
    --clr-med-dark-blue: #023354;
    
*/
    
/*
    --ff-accent: 'Indie Flower', sans-serif;
    --ff-primary: 'Open Sans', serif;
    --ff-yellow: 'Yellowtail', sans-serif;
    --ff-open: 'Open Sans', serif;
    
*/
/*    font-size: 62.5%;*/
/*
    --clr-dark: #333;
    --clr-dark-grey: #2D2D2D;
    --ff-accent: 'Merriweather Sans', sans-serif;
    --ff-primary: 'Merriweather', serif;
    --ff-title: "Patua One", serif;
    
    --clr-orange: #ff9245;
    --clr-med-orange: #eb8136;
*/
     --clr-red: #e65d45
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.search-split {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
*/

.page-container {
    height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
}

footer {
    background-color: var(--clr-red);
}

footer button {
    margin: 10px;
    padding: 10px 24px;
    font-size: 1.5rem;
}

footer button {
        background-color: #e3e3e3;
        height: 40px;
        border: none;
        font-style: var(--ff-primary);
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: 5px;

}

.search-form {
    overflow-y: auto;
}

.title-sect {
    background-color: #404142;
}

h2 {
    margin: 15px;
    font-size: 1.7rem;
    color: var(--clr-red);
    font-family: var(--ff-primary);
}


.search-container {
    margin: 10px 2rem;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
}

#search-bar {
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    font-style: var(--ff-primary);
    font-size: 1.6rem;
    padding-left: 5px;
}

#search-bar:focus {
    outline: none;
}

.search-pad {
    margin: 5px 10px;
}

.search-item {
    background-color: #f6f6f6;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    font-style: var(--ff-primary);
    font-size: 1.6rem;
    margin: 0px 2rem;
    padding: 1rem 1rem;
}

.search-form li {
    list-style-type: none;
}

.search-form input[type="radio"] {
    display: none;
}

.clicked-loc {
    background-color: #ebebeb;
}

@media all and (min-width: 900px) {
 
}
