:root {
    --clr-red: #e65d45;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-sect {
    background-color: #404142;
}

.record-title-grid {
    grid-template-columns: auto repeat(3, 1fr);
    
}

.record-title-grid div {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.record-grid-container {
    grid-template-columns: auto repeat(3, 1fr);
}

.loc-radio-btn {
    opacity: 0;
    width: 0;
    position: fixed;
}

.add-modal-content {
    margin: 10% auto; 
    padding: 20px;
    width: 80%; 
    font-size: 1.6rem;
    background-color: #ebebeb;
    border-radius: 10px;
}

#add-rec-form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 10px;
    column-gap: 20px;
    
}

.add-modal-content input[type=text] {
    width: 100%;
}

#add-rec-form label {
    font-family: var(--ff-accent);
    font-size: 1.4rem;
    white-space: nowrap;
}

.left {
    text-align: right;
}
.add-modal-content input[name=freq-start], .add-modal-content input[name=freq-end] {
    width: 48%;
}

.add-modal-content input[name=freq-end] {
    float: right;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.record-grid-container .hide-mobile, .record-title-grid .hide-mobile {
    display: none;
}

@media all and (min-width: 555px) {
    .record-title-grid {
        grid-template-columns: auto repeat(5, 1fr);
    }

    .record-grid-container {
        grid-template-columns: auto repeat(5, minmax(0, 1fr));
    }

     .extra-grid {
        grid-template-columns: auto repeat(6, minmax(0, 1fr));
    }

    .two-extra-grid {
        grid-template-columns: auto repeat(7, minmax(0, 1fr));
    }
    
    .record-grid-container .hide-mobile {
        display: block;
    }
    
    .record-title-grid .hide-mobile {
        display: flex;
    }
}

@media all and (min-width: 680px) {
    .add-modal-content {
        width: 534px; 
    }
}

@media all and (min-width: 960px) {
    .btn-text {
        display: block;
    }

    .btn-img {
        display: none;
    }
    
    footer {
        justify-content: space-between;
    }
    
    .footer-part {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .left {
        padding-left: 15px;
    }
    
    .right {
        padding-right: 15px;
    }
}

