.record-title-grid {
    grid-template-columns: auto repeat(4, 1fr);
}

.record-grid-container {
    grid-template-columns: auto repeat(4, 1fr);
}

.add-modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    width: 80%; 
    font-size: 1.6rem;
    background-color: #ebebeb;
    border-radius: 10px;
}

#add-maintenance-form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 10px;
    column-gap: 20px;
}

.add-modal-content input[name=prob-descrip] {
    height: 100px;
}

.add-modal-content input[type=text] {
    width: 100%;
}

#add-rec-form label {
    white-space: nowrap;
}

.left {
    text-align: right;
}
.add-modal-content input[name=freq-start], 
.add-modal-content input[name=freq-end] {
    width: 48%;
}

.add-modal-content input[name=freq-end] {
    float: right;
}

footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

@media all and (min-width: 680px) {
    .add-modal-content {
        width: 534px;
    }
}