:root {

}

/*
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

/*
.page-container {
    border: solid;
    border-color: green;
    height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
}
*/


.record-title-grid {
    grid-template-columns: auto repeat(4, 1fr);
}

.record-grid-container {
    grid-template-columns: auto repeat(4, 1fr);
}

.add-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.add-modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    width: 80%; 
    font-size: 1.6rem;
    background-color: #ebebeb;
    border-radius: 10px;
}

#add-maintenance-form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 10px;
    column-gap: 20px;
}

.add-modal-content input[name=prob-descrip] {
    height: 100px;
}

.add-modal-content input[type=text] {
    width: 100%;
}

#add-rec-form label {
    white-space: nowrap;
}

.inner-modal {
    display: flex;
    flex-direction: column;
/*    margin: 5px;*/
    background-color: white;
}

.inner-modal form {
    padding: 20px 15px 0px 15px;
}

.inner-modal button {
    background-image: linear-gradient(var(--clr-orange), var(--clr-med-orange));
    border: none;
    font-size: 1.6rem;
    color: white;
    margin: 20px 15px 15px 15px;
    height: 3rem;
    font-family: var(--ff-accent);
}

#close-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    background-color: #ebebeb;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--clr-orange);
}

#close-box i {
    color: #807d7d;
    margin-right: 5px;
}

.align-end {
    text-align: end;
}


.left {
    text-align: right;
}
.add-modal-content input[name=freq-start], .add-modal-content input[name=freq-end] {
    width: 48%;
}

.add-modal-content input[name=freq-end] {
    float: right;
}

footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

@media all and (min-width: 680px) {
    .add-modal-content {
        width: 534px;

    }
}

@media all and (min-width: 960px) {
    
    
}

