:root {
    --clr-red: #e65d45;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selector-dim {
    height: 100%;
    width: 37px;
}

.dot-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0px 5px;
}

.dot-selector {
    border-radius: 50%;
    border-style: solid;
    border-color: #34b0ea;
    background-color: white;
    width: 25px;
    height: 25px;
    position: relative;
}

.inner-dot {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    background-color: #34b0ea;
 
    display: none;
}
.radio-btn:checked + .dot-selector > .inner-dot  {
    display: block;

}

h2 {
    margin: 15px;
    font-size: 1.7rem;
    color: var(--clr-red);
    font-family: var(--ff-primary);
}

h3 {
    font-size: 1.4rem;
    color: #404142;
    font-family: var(--ff-primary);
}

.title-sect {
    background-color: #404142;
}

.page-container {
    height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
}

.accent-row {
    background-color: #fcfcfc;
}

.reg-row {
    background-color: #f2f2f2;
}

.record-title-grid {
    display: grid;
    grid-template-rows: minmax(30px, max-content);
    overflow-y: scroll;
    background-color: #cfccc8;
}

.record-title-grid div {
    display: flex;
    align-items: center;
}

.record-grid-container {
    display: grid;
    grid-auto-rows: minmax(80px, max-content);
    overflow-y: scroll;
    grid-row-gap: 2px;
}

.hide {
    display: none;
}

footer{
    background-color: var(--clr-red);
}

footer button {
    margin: 10px;
    padding: 10px 24px;
    font-size: 1.5rem;
}

.grid-item {
    border: solid;
    border-color: #ada8a8;
    border-width: 1px;
    font-size: 1.6rem;
}

.btn-text {
    display: none;
}

.btn-img {
    display: block;
}

.fa-wrench, .fa-trash, .fa-plus, .fa-table {
    color: #404142;
}

footer button, footer input[type="submit"] {
    background-image: linear-gradient(#ededed, #c9c9c9);
    border: none;
    border-radius: 5px;
 }

.radio-btn {
    opacity: 0;
    width: 0;
    position: fixed;
}

#close-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    background-color: #ebebeb;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--clr-orange);
}

#close-box i {
    color: #807d7d;
    margin-right: 5px;
}

.inner-modal {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.inner-modal form {
    padding: 20px 15px 0px 15px;
}

.inner-modal button {
    background-image: linear-gradient(var(--clr-orange), var(--clr-med-orange));
    border: none;
    font-size: 1.6rem;
    color: white;
    margin: 20px 15px 15px 15px;
    height: 3rem;
    font-family: var(--ff-accent);
}

.add-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.align-end {
    text-align: end;
}

.inner-modal .user-error {
    margin: 0px 15px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-family: var(--ff-accent);
    color: red;
}

@media all and (min-width: 680px) {
   
}

@media all and (min-width: 960px) {
    .btn-text {
        display: block;
    }

    .btn-img {
        display: none;
    }
    
    footer button, footer input[type="submit"] {
        background-color: #e3e3e3;
        height: 40px;
        border: none;
        font-style: var(--ff-primary);
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: 5px;
    }
}

