:root {

}

/*
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

footer button {
    margin: 10px;
    padding: 10px 24px;
    font-size: 1.5rem;
}

.record-title-grid {
    grid-template-columns: repeat(6, 1fr);
}

.record-grid-container {
    grid-template-columns: repeat(6, 1fr);
}

h2 {
    margin: 15px;
    font-size: 1.7rem;
}

h3 {
    font-size: 1.63rem;
}

footer {
    display: flex;
    flex-direction: column;
/*    flex-wrap: nowrap;*/
    
    
}

footer label {
        font-size: 1.4rem;
        color: var(--clr-dark);
        font-family: var(--ff-accent);
        padding-right: 5px;
    }

    footer input[type="text"] {
        border-radius: 5px;
        border-style: none;
        font-size: 1.4rem;
    /*    margin-right: 4rem;*/
    }

.space-divider {
    margin-right: 4rem;
}
.together {
        display: inline-flex;
        flex: nowrap;
        border-style: solid;
        border-color: blue;
    }

/*
@media all and (max-width: 840px) {
 .together {
        display: inline-flex;
        flex: nowrap;
        border-style: solid;
        border-color: pink;
    }
}
*/

@media all and (min-width: 555px) {
    .space-divider {
        margin-right: 0px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr auto;
    }
    .left form {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
        width: 100%;
        margin: 0px 15px;
    }
    .left {
        display: flex;
        align-items: stretch;
    }
    footer input[type="text"] {
        width: 100%;
       
        
    }
    .left div {
        display: flex;
        align-items: center;
    }
    .left-align {
        justify-content: flex-end;
        margin: 5px;
    }
}

@media all and (min-width: 890px) {
    .space-divider {
        margin-right: 4rem;
    }
    
    .left div {
        display: inline-block;
    }
    
    footer input[type="text"] {
        width: auto;
    }
    
    .left form {
        display: inline;
        grid-template-rows: none;
        grid-template-columns: none;
        margin: 0px;
    }
    
    .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        flex-direction: row;
        border-style: solid;
        border-color: green;
    }
    footer {
        display: flex;
        border-style: solid;
        border-color: green;
        flex-direction: row;
        justify-content: space-between;
        grid-template-columns: none;
    }
    
    .together {
        display: inline-flex;
        flex: nowrap;
        border-style: solid;
        border-color: blue;
    }

/*
    .footer-part {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
        border-style: solid;
        border-color: green;
    }
    
    footer {
        justify-content: space-between;
    }
*/
}

